/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+jsx+tsx+typescript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #abb2bf !important;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	border: 1px solid #374151;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.5rem;
	background: #282c34 !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #282c34 !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7f848e;
}

.token.punctuation {
	color: #abb2bf;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e06c75;
}

.token.function-name {
	color: #61afef;
}

.token.boolean,
.token.number,
.token.function {
	color: #d19a66;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #e5c07b;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #c678dd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #98c379;
}

.token.operator,
.token.entity,
.token.url {
	color: #56b6c2;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

[data-theme="dark"] code[class*="language-"],
[data-theme="dark"] pre[class*="language-"] {
	color: #abb2bf !important;
	background: #282c34 !important;
}

[data-theme="dark"] :not(pre) > code[class*="language-"],
[data-theme="dark"] pre[class*="language-"] {
	background: #282c34 !important;
}
