---
import Layout from '@/components/Layout.astro';
import GitProjectCollection from '@/components/GitProjectCollection';
import { GitPlatform } from '@/components/GitProjectCollection';
---

<Layout title="项目 | echoes">
  <main class="container mx-auto px-4 py-8">
    <div class="space-y-12">
      <GitProjectCollection 
        platform={GitPlatform.GITEA}
        username="lsy"
        title="Gitea 个人项目"
        url="https://g.lsy22.com"
        client:load
      />
    </div>
  </main>
</Layout>
